@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>We are just normal human beings trying to help poor students with their education. Not just that, we also help poor people with their medical bills.</p>
